TURSO_DATABASE_URL=arnab2005.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODcwNTM5NzYsImlkIjoiMDFhMDEzODgtYmYwMS03NDQyLWI2ODgtYmE0YjM0YTU0YTU0Iiwia2lkIjoiVS1VdWRwYS1PWTZqc1BVRHdjMHJVb1JuZmtxNkV0ajdoeDI0NmVPcUxMYyIsInJpZCI6IjlhZWQwOGE5LWQ5NTEtNGViZC05Zjg0LTM3ODA3MzA0NmVlNyJ9.ZogUsVYRwDtZzG3mzRfO-jSySMB4PWHVxFIQNaNMUC2Fv0QkR4BjEoerg4dYRsGoPDPqTdFn-q0ygV71TM6UDQ
